*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins,sans-serif;
    font-style: normal;
    color: inherit;
}
header.fristheader{
    display: flex;
    padding-top: 10px;
    margin-left: 20px;
}
div.logo{
    width: 10%;
}
div.logo img{
    width: 130px;
}

div.headerlist{
    width: 45%;
    
}
div.headerlist ul{
    display: flex;
    font-size: 14px;
    list-style: none;
}
div.headerlist li{
    padding: 14px 12px;
    color: gray;
    transition: all ease-out 0.6s;

}

div.headerlist li:hover{
    color: black;
    transition: all ease-out 0.6s;
   
}
#prod{
    color: black;
    font-weight: bold;
}
div.detals{
    display: flex;
}

div.serhbar{
    width: 23%;
    position: relative;
    margin-left: 23px;
}
div.serhbar form{
    padding-top: 10px;
}
div.serhbar input{
    width: 85%;
    border: none;
    padding-left: 25px;
}
div.serhbar i{
    position: absolute;
    left: 1px;
    top: 25%;
    z-index: 1;
    color: gray;
}
div.detals h2{
    font-size: 16px;
    font-weight: bold;
    padding-top: 14px;

}
div.detals span{
    padding-top: 14px;
    font-weight: bold;
}
div.detals i{
    color: red;
    padding: 19px 10px 0px 10px;
}
section.mainproject{
    display: flex;
}
nav.left{
    margin-left: 6%;
    margin-top: 67px;
    width: 50%;
}
div.bigimg img{
    width: 100%;
}

div.smallimg img{
    width: 75px;
    margin-left: 27px;
    margin-top: 20px;
    
}
#mainnn{
    margin-left: 18%;
}
nav.right{
    margin-left: 80px;
    width: 48%;
}
div.fristpart{
    margin-top: 21%;
}
div.fristpart h2{
    font-weight: 500;
    font-size: 48px;
}
div.fristpart h3{
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
}
div.fristpart span{
    word-spacing: 20px;
}
div.scnpart{
    margin-top: 10px;
}
div.scnpart h4{
    color: gray;
    font-size: 17px;
    font-weight: 400;
}
div.scnpart i{
    margin-top: 5px;
    font-size: 16px;
}
div.scnpart h5{
    color: white;
    background-color: black;
    display: inline-block;
    font-weight: 300;
    padding: 0 1%;
    font-size: 10px;
}
div.scnpart h5 i{
    font-size: 9px;
}
#grayone{
    color: rgba(128, 128, 128, 0.483);
    padding-right: 10px;
}
div.scnpart h3{
    display: inline-block;
    font-size: 9px;
    color: gray;
}
div.thirdpart{
    padding-top: 7%;
}
div.thirdpart button{
    font-size: 18px;
    padding: 4% 9.5%;
    border-radius: 6px;
    font-weight: 600;
    background-color: black;
    color: white;
}
#scnbutton{
    padding: 4% 4.5%;
    margin-left: 10px;
    background-color: white;
    color: black;
}
#scnbutton i{
    padding-right: 5px;
    font-weight: 500;
    font-size: 20px;
}
div.thirdpart h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
}
div.fourthone{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10%;
}
div.fourthone li{
        padding-top: 10px;
}

/*index tow*/

header#scnheader{
    background-color: #FBF3E9;
}
div#fristpartt{
    background-color: #F7CAB3;
    text-align: center;
}
div#fristpartt h2{
    font-size: 16px;
    padding: 1% 0;
    letter-spacing: 0.5px;
}
div#scnpart{
    display: flex;
    margin-top: 20px;
}
div#listtow{
    width:350px;
}
div#listtow ul{
    display: flex;
    padding-left: 19px;
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    margin-top: 14px;
}
div#listtow li{
    padding-left: 43px;
}
div#listtow li i{
    font-size: 13px;
    padding-left: 9px;
}
div#logotow{
    width: 595px;
    display: flex;
}
div#logotow img{
    width: 32%;
    margin: 0 auto;
}
div#iandbtn{
    width: 337px;
}
div#iandbtn i{
    font-size: 24px;
    padding-left: 22px;
}
div#iandbtn button{
    font-size: 16px;
    border-radius: 20px;
    padding: 12px 14px;
    margin-left: 44px;
    color: white;
    background-color: black;
    border: 0;
    font-weight: 400;
    width: 49%;
    transition: all ease 0.6s;
    border: solid black;

}
div#iandbtn button:hover{
    background-color: white;
    color: black;
    transition: all ease 0.6s;
}
section#fristsec{
    width: 100%;
    display: flex;
}
nav#leftnav{
    width: 50%;
    margin-top: 4%;
    margin-left: 4%;
}
div#bigimg img{
    width: 90%;
}

div#smallimg img{
    width: 20%;
    text-align: center;
    

}
#cat{
    margin-left: 14%;
}
#rightnav{
    width: 50%;
    margin-top: 10%;
    padding-bottom: 20%;
}
div#awlpartt i{
    font-size: 14px;
    color: #F09A83;
}
div#awlpartt h4{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    padding-left: 5px;
    word-spacing: 2px;
}
div#awlpartt h2{
    font-size: 36px;
    margin-top: 18px;
}
div#awlpartt h3{
    color:#1C1D1D;
    margin-top: 10px;
    font-weight: 600;
}
div#tanyparttt h2{
    font-size: 18px;
    margin: 5% 0;
}
div#tanyparttt p{
    width: 90%;
    line-height: 23px;
}
div#tanyparttt span{
    font-weight: bold;
}
div#taltpart {
    margin-top: 25px;
}
div#taltpart h3{
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 400;
}
div#formother{
    width: 90%;
    border: 1px solid gray;
    display: flex;
    color: #666666;
    border-radius: 5px;
}
div#fristbaby{
    width: 50%;
    padding: 2%;
    border-right: 1px solid gray;
    text-align: center;
    font-size: 17px;
}
div#fristbaby span{
    padding-left: 4px;
}
div#fristbaby input:checked{
    background-color: red;
}
div#scnbaby{
    width: 50%;
    padding: 2%;
    text-align: center;
    font-size: 17px;
}
div#scnbaby span{
    padding-left: 4px;
}
div#scnbaby input:checked{
    background-color: red;
}
div#taltpart button{
    font-size: 17px;
    border-radius: 8px;
    padding: 12px 30px;
    color: white;
    background-color: black;
    border: 0;
    font-weight: bold;
    margin-top: 6%;
    margin-left: 17px;
    width: 59.5%;
    transition: all ease 0.6s;
    border: 1px solid black;
}
div#taltpart button:hover{
    background-color: rgb(213, 159, 168);
    transition: all ease 0.6s;
}
#finalinput{
    font-size: 17px;
    border-radius: 8px;
    padding: 12px 30px;
    font-weight: bold;
    margin-top: 6%;
    margin-left: 0px;
    width: 28%;
    border: 1px solid black;
}
#finalinput::placeholder{
    color: black;
    letter-spacing: 25px;
    text-align: center;
    padding-left: 0px;
    font-size: 20px;
}
div.fristboy{
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
}
div#random{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 3%;
    font-weight: bold;
}
div.fristboy h2{
    width: 20%;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0px;
    margin-left: 25px;
}
div.fristboy i{
    font-size: 18px;
    font-weight: 600;
    width: 73%;
    text-align: right;
    padding: 20px 0px;

}
div#rab3part{
    margin-top: 8%;
    width: 90%;
}
.mydiv{
    width: 100%;
}
.htowedit{
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 400;
    padding-top: 37px;
}
.selextedit{
    width: 91%;
    padding: 2% 0%;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 400;
}
.opedit{
    text-align: center;
}
.babydivs{
    width: 100%;
    min-height: 50vh;
    margin: 20px 0;
    border-bottom: 1px solid black;
}
.uledit{
    margin-top: 13px;
    margin-left: 52px;
}
.lirdit{
    font-size: 14px;
    margin-bottom: 13px;
}
.h3rdit{
    font-size: 15px;
    margin-top: 44px;
    font-weight: 400;
}
.parrrr{
    line-height: 24px;
}

.parrrrtow{
    padding-top: 20px;
    line-height: 25px;
}
.parrrrthree{
    padding-top: 35px;
}

